# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/

# production
build/

# env files — nunca subir al repo
.env.local
.env.*.local
.env

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel
.vercel

# PWA
public/sw.js
public/workbox-*.js

# OS
.DS_Store
Thumbs.db

# Local env copies
env.local.txt

# IDE
.vscode/
.idea/
